<?xml version="1.0"?>
<launch>

<!-- <param name="use_sim_time" value="true"/> -->
<arg name="rtabmap_viz" default="false"/>
<arg name="rviz"       default="false"/>
<arg name="depth_mode" default="true"/>

<!-- <arg name="unite_imu_method" default="copy"/> "copy" or "linear_interpolation" -->

<!-- <node pkg="tf" type="static_transform_publisher" name="camera_to_camera_link"
      args="0 0 0 1.5708 0 0 /camera /camera_link 20" /> -->

<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
   <param name="use_mag"       value="false"/>
   <param name="publish_tf"    value="false"/>
   <param name="world_frame"   value="enu"/>
   <remap from="/imu/data_raw" to="/camera/imu"/>
   <remap from="/imu/data"     to="/rtabmap/imu"/>
</node>

<include if="$(arg depth_mode)" file="$(find rtabmap_launch)/launch/rtabmap.launch">
   <arg name="rgb_topic"         value="/camera/color/image_raw"/>
   <arg name="depth_topic"       value="/camera/aligned_depth_to_color/image_raw"/>
   <arg name="camera_info_topic" value="/camera/color/camera_info"/>
   <arg name="visual_odometry"   value="false"/>
   <arg name="odom_topic"        value="/vins_estimator/odometry"/>
   <arg name="rgbd_sync"         value="true"/>  
   <arg name="approx_sync"       value="false"/>
   <arg name="frame_id"          value="camera_link"/>
   <arg name="imu_topic"         value="/rtabmap/imu"/>
   <arg name="queue_size"        value="200"/>
   <arg name="odom_frame_id"     value="world"/>
   <arg name="map_frame_id"      value="map"/>
   <arg name="wait_for_transform" value="0.5"/>
   <arg name="rtabmap_viz"       value="$(arg rtabmap_viz)"/>
   <arg name="rviz"              value="$(arg rviz)"/>

     <!-- 
    delete_db_on_start        : 每次启动重新建图
    DetectionRate             : 回环检测频率 (Hz)
    LoopThr                   : 回环阈值（越小越激进）
    STMSize                   : 短期记忆大小
    ImageBufferSize           : 图像缓存（1 = 关键帧）
  -->
   <arg name="rtabmap_args"
         default="
            --delete_db_on_start
            --Rtabmap/DetectionRate 1
            --Rtabmap/LoopThr 0.12
            --Mem/STMSize 30
            --Mem/ImageBufferSize 1
            --RGBD/OptimizeMaxError 4.0
            --Vis/MinInliers 15 
         "/>
</include>


</launch>
